@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-text-fill-color: #fff;
   /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
   background-color: transparent;
   transition: background-color 5000s ease-in-out 0s;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  user-select: none;
  overflow-x: hidden;
  @apply text-nmp-base bg-nmp-dark-primary;
}

/* ------------------------------------------------------------------ */
/* i. Main
/* ------------------------------------------------------------------ */
main {
  @apply mt-4;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 20px;
   margin-bottom: 20px;
   font-size: 14px;
   text-align: center;
   position: relative;
   z-index: 1;
}

footer a, footer a:visited {  }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
   display: flex;
   width: auto;
   justify-content: center;
   align-items: center;
   gap: 40px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -30px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
 	border-radius: 100%;

  svg {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
#go-top a:hover { }

.social .btn:first-child{
   margin-right: 30px;
}
.social .btn{
   padding-left: 30px;
   padding-right: 30px; 
}
.social .btn i{
   margin-right: 15px;
}
.project-btn{
   background-color: #1abc9c !important;
}
.github-btn{
   background-color: #34495e !important;
}
