.responsive-table {
    width: 100%;
    font-weight: 300px !important;

    th [class="td-before"], td [class="td-before"] {
        display: none;
    }

    td[class="pivoted"] a {
        padding-right: 1em;
  }
}
  
@media screen and (max-width: 40em) {
    /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none;, for accessibility)
    */
  
    .responsive-table table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
      display: block;
    }
  
    .responsive-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-bottom: 2px solid #333;
    }
  
    .responsive-table tbody tr {
      border: 1px solid #000;
      padding: .25em;
    }
  
    .responsive-table th.pivoted, td.pivoted {
      /* Behave like a "row" */
      /* border: none !important; */
      border-top: none;
      position: relative;
      padding-left: calc(50% + 10px) !important;
      text-align: left !important;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }

    .responsive-table td.pivoted a {
        padding-right: 2em;
    }
  
    .responsive-table th .tdBefore, td .tdBefore {
      /* Now like a table header */
      position: absolute;
      display: block;
  
      /* Top/left values mimic padding */
      left: 1rem;
      width: calc(50% - 20px);
      white-space: pre-wrap;
      overflow-wrap: break-word;
      text-align: left !important;
      font-weight: 600;
    }
  }